body{background-color: #191717;}
h1{color: #37E4EC; font-family: Garamond; font-size: 40px}
p{color: #EAF8F9; font-family: Helvetica; font-size: 18px}
a{color: #4F5CF4; font-family: Helvetica; font-size: 18px; text-decoration: none;}